{% extends "layout.html" %}
{% block title %}View Items{% endblock %}

{% block content %}
    <div class="container sections" style="margin-top: 30px;">
        <h2> {{ category.name }} Workout </h2>
        {% if session['user_id'] == category.user_id %}
            <div class="row" >
              <div class="col-md-12">
                <a href="{{ url_for('edit_category', category_id=category.id) }}"><button class="btn btn-default"><i class="far fa-edit fa-fw" ></i> Edit</button></a>
                <a href="{{ url_for('add_item_by_category', category_id=category.id) }}"><button class="btn btn-default"><i class="fas fa-plus fa-fw"></i> Add Excercise </button></a>
                <a href="{{ url_for('delete_category', category_id=category.id) }}"><button class="btn btn-default"><i class="far fa-trash-alt fa-fw"></i> Delete</button></a>
              </div>
            </div>
        {% endif %}

        <div class="col-md-8" style="margin-top: 30px;">
          {% if total == 0 %}
          <p>No exercise are present in this category.</p>
          {% else %}
          <table class="table table-striped">
            <tbody>
            {% for item in items %}
              <tr>
                <td><a href="{{ url_for('view_item', item_id=item.id) }}"><p>{{ item.name }}</p></a></td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
          {% endif %}
        </div>
    </div>
{% endblock %}
